# Directories to ignore
runs/
runs-old/
runs-old-v8s-undersampling
images/
yolo_dataset_hand/
yolo_dataset_hand_augmented/
yolo_dataset_hand_oversampled/
yolo_dataset_hand_undersampled/
datasets/
splits/
scratch/

# Model weights
*.pt
*.pth
*.onnx

# Archives
*.zip

# Python
__pycache__/
*.pyc
*.pyo
.env
.venv/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
